<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>SenderForXssTest</servlet-name>
    <servlet-class>work.SenderForXssTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SenderForXssTest</servlet-name>
    <url-pattern>/SenderForXssTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReceiverForXssTest</servlet-name>
    <servlet-class>work.ReceiverForXssTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiverForXssTest</servlet-name>
    <url-pattern>/ReceiverForXssTest</url-pattern>
  </servlet-mapping>
</web-app>